.main{
    height: calc(100vh - 3rem);
    overflow: auto;
}
.GetTouchCont{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.MenuButton{
    right: 0px;
    width: max-content;
    transition: var(--norm);
    align-self: center;
    color: rgb(var(--fontcolor));
    padding: 9px 5px;
    margin: 0.7rem;
    border-radius: 7px;
    font-size: 0.8rem;
    text-decoration: none;
    color: whitesmoke;
    background-color: rgba(35,49,56,0.7);
    border:1px solid rgb(var(--fontcolor));
}
.MenuButton:hover{
    background-color: rgba(35,49,56,1);
    box-shadow: 1px 1px 14px white;
    text-shadow: 1px 1px 3px white;
}
.contentHome{
    display: flex;
    height: calc(100vh-3rem);
    flex-direction: row wrap;
    padding: 1rem;
}
#Artist{
    border-radius: 50%;
    overflow: hidden;
}
#Logo, #Artist{
    width: 350px;
    height: 350px;
    position: relative;
    margin: auto;
    border-radius: 14px;
    overflow: hidden;
}

@media screen and (max-width:750px) and (orientation: portrait) {
    .contentHome{
        flex-direction: column;
    }
    #Logo, #Artist{
        width: 70vw;
        height: 70vw;
        position: relative;
        margin: auto;
    }
}