.main{
    height: calc(100vh - 3rem);
    overflow: auto;
}
.GetTouchCont{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.MenuButton{
    right: 0px;
    width: max-content;
    align-self: center;
    color: rgb(var(--fontcolor));
    padding: 9px 5px;
    margin: 0.7rem;
    border-radius: 7px;
    transition: var(--fast);
    font-size: 0.8rem;
    text-decoration: none;
    border:1px solid rgb(var(--fontcolor));
}
.contentHome{
    display: flex;
    height: calc(100vh-3rem);
    flex-direction: row wrap;
}
#Artist{
    border-radius: 50%;
    overflow: hidden;
}
#Logo, #Artist{
    width: 350px;
    height: 350px;
    position: relative;
    margin: auto;
}

@media screen and (max-width:750px) and (orientation: portrait) {
    .contentHome{
        flex-direction: column;
    }
    #Logo, #Artist{
        width: 70vw;
        height: 70vw;
        position: relative;
        margin: auto;
    }
}